<%= form_with(model: kid, local: true) do |form| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

      <ul>
      <% kid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :kid_name %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade, id: :kid_grade %>
  </div>
  
  <!--copied in and adapted from the mousy app-->
  <div class="field">
      <%= form.text_field :parent_id, value: current_parent.id %>
  </div>
  
  <!--copied in adapted from doggie daycare lesson notes-->
    <%= form.simple_fields_for(:families) do |family_fields| %>
      <%= family_fields.association :parent_id %>
     
     
      <%# Only show the destroy checkbox if a record is already saved %>
      <!--< % if custody_fields.object.persisted? %>-->
      <!--  < %= custody_fields.input :_destroy, as: :boolean %>-->
      <!--< % end %>-->
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
